.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Common Styles */
.secondary-bg {
    color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.text-center {
    text-align: center;
}

.dark-2 {
    font-size: 20px;
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    height: 64px;
    width: 150px;
    cursor: pointer;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
    padding: 20px;
}

/* Nav styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: #BB2525;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}

.banner-contents {
    max-width: 585px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #181818;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #757575;
}

.banner-image {
    width: 580px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

main section {
    margin-top: 120px;
    margin-bottom: 130px;
}

.about {
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 130px 150px;
    text-align: center;

}

/* about items style */
.about-items {
    /* color: #474747; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-items .item-title {
    color: #757575;
    margin-bottom: 20px;
}

.item-description {
    color: #474747;
    font-weight: 600;
    padding: 30px;
}

/* skills start here */
.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}